<?xml version="1.0" encoding="utf-8"?>
<!--
Questo file viene utilizzato dal processo di pubblicazione/creazione pacchetto del progetto Web. È possibile personalizzare il comportamento del processo
modificando il file MSBuild. Per ulteriori informazioni su questo argomento, visitare http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://acomsrl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>acomsrl.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>acomsrl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>acomsrl</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Acom1.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:boen2tpo7e.database.windows.net,1433;Initial Catalog=acomdb;Integrated Security=False;User ID=acomadmin@boen2tpo7e;Password=Marcoacom15;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Acom1.ApplicationDbContext, Acom1" MigrationConfiguration="Acom1.IdentityContextMigrations.Configuration, Acom1" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AcomdbConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:boen2tpo7e.database.windows.net,1433;Initial Catalog=acomdb;Integrated Security=False;User ID=acomadmin@boen2tpo7e;Password=Marcoacom15;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Acom1.DAL.AcomContext, Acom1" MigrationConfiguration="Acom1.AcomContextMigrations.Configuration, Acom1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Acom1.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:boen2tpo7e.database.windows.net,1433;Initial Catalog=acomdb;Integrated Security=False;User ID=acomadmin@boen2tpo7e;Password=Marcoacom15;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AcomdbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:boen2tpo7e.database.windows.net,1433;Initial Catalog=acomdb;Integrated Security=False;User ID=acomadmin@boen2tpo7e;Password=Marcoacom15;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Acom1.ApplicationDbContext" />
  </ItemGroup>
</Project>